<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hashrate</title>
</head>
<body>
    <div id="main" style="width: 600px;height:400px;"></div>
    <script src="{{ url_for('static', filename='echarts.simple.min.js') }}"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '矿池算力统计'
            },
            tooltip: {},
            legend: {
                data:['算力']
            },
            xAxis: {
                data: [" "," "," "," "," "," "]
            },
            yAxis: {},
            series: [{
                name: '算力',
                type: 'line',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>