<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>玩客币</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}" type="text/css" />
</head>
<body>
<div class="ui stackable sixteen column grid container" style="width:100%;">
    <div class="sixteen column row">
        <div class="eleven wide column" id="main" style="height:500px;"></div>
        <div class="five wide column">
            <div class="ui segment">
                最新买方最高价：<div class="ui red horizontal label">{{buy_max}}</div> 元
            </div>
            <div class="ui segment">
                最新卖方最低价：<div class="ui red horizontal label">{{sell_min}}</div> 元
            </div>
        </div>
    </div> 
    <div class="sixteen column row">
        <div class="five wide column">
            <div class="ui segment">
                <div class="ui small card">
                    <div class="image">
                        <img src="{{ url_for('static', filename='xiaomiquan.png') }}">
                    </div>
                    <div class="content">
                        <a class="header">数字货币小密圈</a>
                        <div class="meta">
                            <span class="date">当前帖子100+</span>
                        </div>
                        <div class="description">
                            大量BTC，BCH，玩客币等数字货币的投资思路，欢迎加入。圈友每增加100人，费用乘以2，当前50元.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            80+成员
                        </a>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="five wide column">
                <a href="https://jinshuju.net/f/BE5aif">
                    <div class="ui segment">
                        <div class="ui small card">
                            <div class="image">
                                <img src="{{ url_for('static', filename='jiaoyi_1024.png') }}">
                            </div>
                            <div class="content">
                                <a class="header">玩客币场外交易</a>
                                <div class="meta">
                                    <span class="date">安全交易保证</span>
                                </div>
                                <div class="description">
                                    玩客币担保费买卖双方个千分之五，最低买卖双方一个币。(点击或者扫描二维码填写资料)
                                </div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="user icon"></i>
                                    小密圈读者免担保费.
                                </a>
                            </div>
                        </div>
                    </div>
                </a>              
        </div>
    </div>      
</div>

<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));

// 异步加载数据
$.get('osc.json').done(function (data) {
        // 填入数据
        myChart.setOption({
title: {
text: '玩客币价格'
},
tooltip: {
trigger: 'axis'
},
legend: {
data: data.legends
},
grid: {
left: '3%',
right: '4%',
bottom: '3%',
containLabel: true
},
toolbox: {
feature: {
saveAsImage: {}
}
},
xAxis: {
type: 'category',
      boundaryGap: false,
      data: data.x_axis
       },
yAxis: {
type: 'value',
      splitNumber: 2,
      scale: true
       },
series: data.series
});
});
</script>
<script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b3617258c6b03ba28bacda58564126a6";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
        
</body>
</html>
