{% extends "menu.html" %}
{% block tile%} 研究 {% endblock %}
{% block content %}
<div class="ui segment">
    <div class="ui small card">
        <div class="image">
            <img src="{{ url_for('static', filename='xiaomiquan.png') }}">
        </div>
        <div class="content">
            <a class="header">数字货币交流群</a>
            <div class="meta">
                <span class="date">当前帖子100+</span>
            </div>
            <div class="description">
                已经有大量针对BTC，BCH，玩客币的估值分析，以及讨论。欢迎参加。
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                100+成员
            </a>
        </div>
    </div>
</div>
{% endblock %}